@font-face {
    font-family: 'UniversLTPro-45Light';
    src: url('UniversLTPro-45Light.woff2') format('woff2'),
        url('UniversLTPro-45Light.woff') format('woff'),
        url('UniversLTPro-45Light.svg#UniversLTPro-45Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversLTPro-55Oblique';
    src: url('UniversLTPro-55Oblique.woff2') format('woff2'),
        url('UniversLTPro-55Oblique.woff') format('woff'),
        url('UniversLTPro-55Oblique.svg#UniversLTPro-55Oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversLTPro-55Roman';
    src: url('UniversLTPro-55Roman.woff2') format('woff2'),
        url('UniversLTPro-55Roman.woff') format('woff'),
        url('UniversLTPro-55Roman.svg#UniversLTPro-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversLTPro-65Bold';
    src: url('UniversLTPro-65Bold.woff2') format('woff2'),
        url('UniversLTPro-65Bold.woff') format('woff'),
        url('UniversLTPro-65Bold.svg#UniversLTPro-65Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

