@import "../../utils/typography.scss";
.wnin-modal {
  &-section {
    padding: rem(27.5px) rem(30px);
  }
  &-container {
    background: #fff;
  }
  &-title {
    @include f-65(16px, 16px * 1.27);
    margin: 0;
    font-weight: normal;
  }
  &-tags {
    display: block;
    margin-top: rem(5px);
  }
  &-subtitle {
    @include f-45(13px, 13px * 1.27);
    color: #9a9999;
    font-weight: normal;
    margin: 0;
  }
  &-header-section {
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 3px;
    padding: 15px;
  }
  &-speaker {
    margin: rem(27.5px) 0 0;
    padding: rem(16.66px);
    background-color: #e1e1e1;
    @include f-55-r(14px, 14px * 1.27);
    .media-left {
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 0;
      p {
        margin: 0;
      }
    }
    &-image img {
      border-radius: 50%;
    }

    &-image {
      width: rem(48px);
      height: rem(48px);
      @media screen and (min-width: 768px) {
        width: rem(64px);
        height: rem(64px);
      }
      @media screen and (min-width: 1024px) {
        width: rem(96px);
        height: rem(96px);
      }
    }

    &-title {
      @include f-65(16px, 16px * 1.27);
    }
    &-designation {
      @include f-55-i(14px, 14px * 1.27);
    }
  }
  &-desc {
    @include f-55-r(14px, 14px * 1.27);
    padding-top: rem(14px);
    padding-bottom: rem(14px);
    p:first-child {
      margin-top: 0;
    }
    p:first-child {
      margin-bottom: 0;
    }
  }

  &-social-share {
    @include f-55-r(14px, 14px * 1.27);
  }
}
