// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Check the documentation @ https://bulma.io/documentation/overview/customize/

// 3. Set the derived variables
// Check the documentation @ https://bulma.io/documentation/overview/customize/

// 4. Setup your Custom Colors
// Check the documentation @ https://bulma.io/documentation/overview/customize/

// 5. Add new color variables to the color map.
@import "../node_modules/bulma/sass/utilities/derived-variables";
// Check the documentation @ https://bulma.io/documentation/overview/customize/

// 6. Import the rest of Bulma
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/helpers";
@import "../node_modules/bulma/sass/layout/_all";
@import "../node_modules/bulma/sass/grid/columns";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/tag";
@import "../node_modules/bulma/sass/components/media";
@import "../node_modules/bulma/sass/components/level";
@import "../node_modules/bulma/sass/elements/image";
@import "../node_modules/bulma-timeline/dist/css/bulma-timeline";

html,
body {
  min-height: 100%;
}

@import "./utils/typography.scss";
@import "./utils/timeline.scss";

.wnin-fav {
  &-placeholder {
    display: block;
    @include f-65(28px, 28px * 1.27);
  }
  &-item {
    &-heading {
      @include f-65(16px, 16px * 1.27);
    }
  }
}


.wnin-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00baff+0,84d930+50,ff4200+100 */
  background: #00baff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #00baff 0%,
    #84d930 50%,
    #ff4200 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #00baff 0%,
    #84d930 50%,
    #ff4200 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #00baff 0%,
    #84d930 50%,
    #ff4200 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00baff', endColorstr='#ff4200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  &-logo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-logo {
    height: 100px;
    width: 215px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px;
    margin-top: 40px;
    @media screen and (min-width: 768px) {
      height: 200px;
      width: 430px;
    }
  }
}

noscript{
  padding: 10px;
  border-radius: 3px;
  background: #FFF;
  font-family: "Lucida Console", "Courier New", monospace;
}
